<div class="feature-key-container" id="add_feature_keys">
    <div class="tab-sections">
        <div class="title">{{i18n.csvOnboarding.keys.featureKeys.title}}</div>

        {{#each data.featureKeys}}
        <div class="control-group" data-id="{{@key}}">
            <label class="control-label">
                <span class="feature-key-index">{{@root.i18n.csvOnboarding.keys.labels.slot}}{{index}}</span>
            </label>
            <div class="controls feature-key-number">
                <select name="provision.keys.feature_keys[{{index}}].type" class="feature-key-type span2">
                    {{#select ../data.keyTypes}}
                        {{#each ../data.keyTypes}}
                            <option value="{{@key}}">{{this}}</option>
                        {{/each}}
                    {{/select}}
                </select>
                <div class="feature-key-value hidden" data-type="presence">
                    <label for="provision.keys.feature_keys[{{index}}].value">{{@root.i18n.csvOnboarding.keys.labels.user}}</label>
                    <select class="type" name="provision.keys.feature_keys[{{index}}].value" class="chosen-feature-key-user">
                    {{#each ../data.userList}}
                        <option value="{{id}}">{{first_name}} {{last_name}}</option>
                    {{/each}}
                    </select>
                </div>
                <div class="feature-key-value hidden" data-type="parking">
                    <label for="provision.keys.feature_keys[{{index}}].value">{{@root.i18n.csvOnboarding.keys.labels.parkingSpot }}</label>
                    <select class="type" name="provision.keys.feature_keys[{{index}}].value">
                    {{#each ../data.parkingSpots}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                    </select>
                </div>
                <div class="feature-key-value hidden" data-type="personal_parking">
                    <label for="provision.keys.feature_keys[{{index}}].value">{{@root.i18n.csvOnboarding.keys.labels.user}}</label>
                    <select class="type" name="provision.keys.feature_keys[{{index}}].value" class="chosen-feature-key-user">
                    {{#each ../data.userList}}
                        <option value="{{id}}">{{first_name}} {{last_name}}</option>
                    {{/each}}
                    </select>
                </div>
                <div class="feature-key-value hidden" data-type="speed_dial">
                    <label for="provision.keys.{{../id}}[{{@index}}].name">{{@root.i18n.csvOnboarding.keys.labels.name}}</label>
                    <input class="sdName" type="text" name="provision.keys.feature_keys[{{index}}].name">
                    <label for="provision.keys.{{../id}}[{{@index}}].number">{{@root.i18n.csvOnboarding.keys.labels.number}}</label>
                    <input class="sdNumber" type="text" name="provision.keys.feature_keys[{{index}}].number">
                </div>
            </div>
        </div>
        {{/each}}


        <div class="actions">
            <button id="cancel" class="monster-button">{{ i18n.cancel }}</button>
            <button id="proceed" class="monster-button-success">{{ i18n.csvOnboarding.review.proceed }}</button>
        </div>
    </div>
</div>