<div class="progress-container">
	<div class="main-title">{{ i18n.csvOnboarding.progress.title }}</div>
	<div class="sub-title">{{ i18n.csvOnboarding.progress.subTitle }}</div>
	<div class="spinner-wrapper">
		<i class="icon-telicon-loading-circle monster-loading-spinner"></i>
	</div>
	<div class="progress-display">
		<div class="progress-text">
			<span class="user-name">{{ i18n.csvOnboarding.progress.usersCreated }}</span>
			<span class="count-requests-done">0</span> / <span class="count-requests-total">{{ totalRequests }}</span>
		</div>
		<div class="progress-bar">
			<div class="inner-progress-bar"></div>
		</div>
	</div>
</div>
