<div id="uploads">
	<div class="upload-title">
		<h2>{{ i18n.csvOnboarding.uploads.mainTitleUsersDevices }}</h2>
		<h5>{{ i18n.csvOnboarding.uploads.subTitleUsersDevices }}</h5>
		<p>
			{{{ i18n.csvOnboarding.uploads.constrainUsersDevices }}}
		</p>
	</div>
	<div class="upload-frame">
		<i class="fa fa-upload"></i>

		<div class="text-upload">
			<a href="javascript:void(0);">{{ i18n.csvOnboarding.uploads.text }}</a>
		</div>

		<input id="upload_csv_file" type="file">
	</div>

	<div class="actions">
		<button id="back" class="start-job-action monster-button-secondary">{{ i18n.csvOnboarding.uploads.back }}</button>
	</div>
</div>
